{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}


        {{! The main content area on the homepage }}
        <div class="col-md-8 col-sm-12 ql_post_list">
            {{! The tag below includes the post loop - partials/loop.hbs }}
            {{> "loop"}}
        </div><!-- /ql_post_list -->


    {{> "before-post-content"}}


            {{#foreach posts}}
                {{#if @first}}

                    {{> "post"}}
                    

                {{/if}}
            {{/foreach}}


    {{> "after-post-content"}}