    </div><!--/row -->
    <div class="clearfix"></div>
</div><!-- /#container -->


<div id="container_post" class="container">
        <div class="row">

            <div class="col-md-8 col-lg-10 col-md-offset-2 col-sm-12 main_col" data-body-class="{{body_class}}">
                <article id="post-{{id}}" class="{{post_class}} {{status}} {{#if featured}}featured{{/if}} {{#if image}}has-post-image{{/if}}">