    </div><!--/row -->
    <div class="clearfix"></div>
</div><!-- /#container -->

<div id="container_post" class="container">
    <div class="row">

        <div class="col-md-6 col-lg-7 col-md-offset-6 col-sm-12 main_col" data-body-class="{{body_class}}">